body {
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

#viewFavouritesButton {
  position: fixed;
  top: 5px;
  right: 20px;
  width: 30px;
  height: auto;
}

.addToFav {
  width: 20px;
  height: auto;
}

.addToFav:hover {
  content: url('images/heart2.png');
}

h1 {
  font-family: "Arial", sans-serif;
  color: #2e8b57;
  text-align: center;
  margin: 20px 0;
}

h1::after {
  content: "";
  display: block;
  width: 150px;
  height: 3px;
  background-color: #2e8b57;
  margin: 10px auto;
}

h2 {
  font-size: 1em;
  font-style: italic;
  text-align: center;
  color: #333;
}

.input,
.submit {
  text-align: center;
  margin: 20px auto;
}

#submit {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

#submit:hover {
  background-color: #90ee90;
}

p {
  color: #555;
}

select {
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.output {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.newItem {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
}

.newItem:hover {
  background-color: #90ee90;
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

img {
  max-width: 100%;
  border-radius: 8px;
  margin: 10px 10px 10px 10px;
}

.title {
  color: #333;
}

a {
  color: #4caf50;
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

a:hover {
  text-decoration: underline;
  color: #fff;
}

.text {
  color: #888;
  margin-top: 10px;
}